<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div align="right"> <a href="/logout">Logout</a></div>
    Welcome {{name}},


    <ol>
      <li><a href="/product/save/">Add New Product</a>  <br><br></li>
      <li><a href="/showall">Show All Products</a>  <br><br></li>
      <li><a href="/product/save/">Add New Product</a>  <br><br></li>
    <li><a href="/product/save/">Add New Product</a>  <br><br></li>
    <li><a href="/product/save/">Add New Product</a>  <br><br></li>
    </ol>






</body>
</html>