<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Information</title>
</head>
<body>

    <center><h2>Product Inventory Login</h2>

        <font color="red">{{message}}</font><br><br>
    <form action="/login/" method="post">
        Username : <input type="text" name="user"> <br><br>
        Password : <input type="password" name="pwd"> <br><br>
        <input type="submit">   | <a href="/register">Register Here..</a>
    </form>

</center>

</body>
</html>