<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Here...!</title>
</head>
<body>
             <center><h2>User Registration</h2>

        {{result}} <br><br>
        <form action="/register" method="post">
            FirstName : <input type="text" name="firstname"> <br><br>
            LastName :  <input type="text" name="lastname"> <br><br>
            Gender :  <input type="radio" name="gender" value="M"> Male  <input type="radio" name="gender" value="F"> Female <br><br>
            Email :  <input type="text" name="email"> <br><br>
            Username :  <input type="text" name="username"> <br><br>
            Password :  <input type="password" name="password"> <br><br>
            <input type="submit">
        </form>

             </center>
    <a href="/index">HOME</a>
</body>
</html>