<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h3>Product Information..! </h3>

<a href="/home"><img src= {{ url_for('static', filename = 'logo.jpg') }} width="50" height="50" alt="previous" title="Previous" border="0"></a>	<br><br>


	{{resp}}
	<br><br>
	<form action="/product/save/" method="post">

		Product Id :  <input type="text" name="pid" value="{{product.id}}"/> <br><br>
		Product Name : <input type="text" name="pname" value="{{product.name}}"/> <br><br>
		Product Qty :	<input type="text" name="pqty" value="{{product.qty}}"/> <br><br>
		Product Price : <input type="text" name="pprice" value="{{product.price}}"/> <br><br>
		Product Category : <input type="text" name="pcat" value="{{product.category}}"/> <br><br>
		Product Vendor : <input type="text" name="pven" value="{{product.vendor}}"/> <br><br>

		<input type="submit" >

	</form>




</body>
</html>